.post {
  display: flex;
  flex-direction: row;
  border: 2px solid #888;
  border-radius: 21px;
  margin-top: 20px;
}

.mainimg {
    border-radius: 20px;
    margin-right: 10px;
    height: 180px;
  }

.footballer-name {
    font-style: italic;
}

.description {
  display: flex;
  flex-direction: column;
}

.view-more {
    font-weight: bold;
    }

@media (min-width: 320px) and (max-width: 599px) {
  .allposts { grid-area: posts;}
}
    
@media (min-width: 600px) and (max-width: 900px) {
  .allposts { grid-area: posts;}
}