@import url(header.css);
@import url(sidebar.css);
@import url(mainposts.css);
@import url(../css/mainpage.css);

.blogposts { 
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.postname {
    text-align: center;
    font-size: 48px;
}

.blogtext {
    font-size: 20px;
    color: #444;
}

.blogimg {
    max-width: 600px;
}

@media (min-width: 320px) and (max-width: 599px) {
    .blogimg {display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;}
}
    
@media (min-width: 600px) and (max-width: 900px) {
    .blogimg {display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;}
}